<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


  </head>
  <body>

    <div class="container weather home">
  <img class ="image-h" src="thermometer.png" alt="">
      <h1> Enter City Name </h1>

      <form action="/" method="post">
        <div class="form-group">
          <input id ="cityInput" type="text" name="cityName" class= "form-control" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-light btn-lg">Go</button>

      </form>
    </div>

  </body>
</html>
